/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

/* ESTILOS BASE (Desktop por defecto) */
.contenedor-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: Arial, sans-serif;
}

.titulo {
  font-size: 50px;
  margin-bottom: 10px;
}

.subtitulo {
  font-size: 20px;
}

.contenedor-inputs {
  display: flex;
  justify-content: center;
}

.columna-input {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.campo-temperatura {
  width: 160px;
  font-size: 50px;
  padding: 5px;
  text-align: center;
  font-weight: bold;
}

.contenedor-resultados {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-top: 30px;
  flex-wrap: wrap;
}

.columna-resultado {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.valor-resultado {
  font-size: 100px;
  font-weight: bold;
  margin-top: 5px;
}

/* TABLET */
@media (max-width: 1024px) {
  .titulo {
    font-size: 40px;
  }

  .subtitulo {
    font-size: 24px;
  }

  .campo-temperatura {
    width: 140px;
    font-size: 40px;
  }

  .valor-resultado {
    font-size: 32px;
  }

  .contenedor-inputs,
  .contenedor-resultados {
    gap: 30px;
  }
}

/* TELÉFONOS */
@media (max-width: 600px) {
  .titulo {
    font-size: 32px;
  }

  .subtitulo {
    font-size: 20px;
  }

  .contenedor-inputs,
  .contenedor-resultados {
    flex-direction: column;
    align-items: center;
    gap: 0px; /* Reduces spacing between items */
  }

  .campo-temperatura {
    width: 100px;
    font-size: 25px;
    margin-top: -10px; /* Antes estaba en 10px */
  }

  .valor-resultado {
    font-size: 20px;
    margin-top: -20px;
  }

  .columna-resultado{
    margin-top: -50px;
    padding: 10px;
  }
}
